<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %> | webpack5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <h1><%= htmlWebpackPlugin.options.title %></h1>
    </div>

    <div class="content">
        <p id="console">This is a paragraph.</p>
        <div class="album">
            <div class="box">
                <img src="./assets/images/300x300_02.jpeg" title="圖片">
            </div>
            <div class="box">
                <img src="./assets/images/300x300_03.jpeg" title="圖片">
            </div>
            <div class="box"></div>
        </div>
        
        <a href="about.html">Go to about</a>
    </div>
</body>
</html>