<!DOCTYPE html>
html(lang='zh-Hant-TW' class='no-js')
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title about

body
    div(class="header")
        h1 about

    div(class="content")
        a(href="index.html") Go to index
